/* MoeTop插件 */

#reimu:hover,
#marisa:hover,
#flandre:hover {
    right: -10px!important;
    bottom: 0;
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
}


/* end-MoeTop插件 */

.back-to-top {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 10px;
    right: 10px;
    line-height: 50px;
    background: rgba(0, 0, 0, .5);
    display: none;
    cursor: pointer;
}


/* .back-to-top:hover {
    -webkit-animation: jianyin 1s;
    animation: jianyin 1s;
} */

.back-to-top i {
    color: #fff;
    width: 50px;
    text-align: center;
}

#footer {
    line-height: 30px;
    padding: 20px 20px;
    font-size: 14px;
}

.footer {
    margin-top: 50px;
    background: #000;
    color: #eee;
}

.footer a {
    color: #eee;
}