/* MoeTop插件 */

#reimu:hover,
#marisa:hover,
#flandre:hover {
    right: -10px!important;
    bottom: 0;
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
}


/* end-MoeTop插件 */

.back-to-top {
    position: fixed;
    width: 30px;
    height: 30px;
    bottom: 20px;
    right: 20px;
    line-height: 30px;
    background: rgba(0, 0, 0, .5);
    display: none;
    cursor: pointer;
    font-size: 1rem;
}

.back-to-top:hover {
    background: #28A745;
}


/* .back-to-top:hover {
    -webkit-animation: jianyin 1s;
    animation: jianyin 1s;
} */

.back-to-top i {
    color: #fff;
    width: 30px;
    text-align: center;
}

#footer {
    line-height: 30px;
    padding: 20px 20px;
    font-size: 14px;
}

.footer {
    margin-top: 50px;
    background: #000;
    color: #949494;
}

.footer a {
    color: #949494;
}
.winds-all-links{
    list-style: none;
    word-break: keep-all;
    margin: 0;
    /* text-align: center; */
    padding: 10px;
    border: 1px dashed #949494;
    margin-bottom: 1rem;
}
.winds-all-links li{
    display: inline;
    padding: 5px;
}
.winds-all-links li a{
    display: inline;
    color: #949494;
}