.nav-bac {
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 9999;
    background: #000;
    background: rgba(40, 42, 44, .6);
    line-height: 50px;
    height: 50px;
    color: #fff;
}

.nav ul {
    list-style: none;
    display: flex;
    z-index: 999;
}

.nav ul li {
    display: flex;
    padding: 0 20px;
    line-height: 50px;
}

.nav ul li:hover,
.winds-search:hover {
    background-color: rgba(150, 150, 150, 0.6);
}

.nav ul li a {
    text-decoration: none;
    color: #fff;
    text-align: center;
}

.winds-search {
    padding: 0 20px;
    line-height: 50px;
    height: 50px;
}