.nav-bac {
    background: #eee;
    line-height: 50px;
    position: fixed;
    top: 0;
}

.nav {
    /* width: 100%; */
}

.nav ul {
    list-style: none;
    display: flex;
}

.nav ul li {
    /* float: left; */
    display: flex;
    margin: auto;
    padding-right: 30px;
    line-height: 50px;
}