/* 导航栏样式 */

.blur-nav {
    background: rgba(0, 0, 0, .5)!important;
    /* filter: blur(20px);
    -webkit-filter: blur(20px); */
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 97;
    line-height: 50px;
    height: 50px;
    color: #fff;
    display: none;
}

.blur-nav-bg {
    background: rgba(0, 0, 0, .5)!important;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 98;
    line-height: 50px;
    height: 50px;
    color: #fff;
    display: none;
}

.nav-bac {
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 99;
    line-height: 50px;
    height: 50px;
    color: #fff;
}

.nav ul {
    list-style: none;
    display: flex;
    z-index: 98;
    padding: 0;
    margin: 0;
}

.nav ul li {
    display: flex;
    line-height: 50px;
}

.nav ul li:hover,
.winds-search:hover,
.wd-md-navspan:hover,
.nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: rgba(0, 0, 0, 0.7);
    -webkit-animation: jianyin 1s;
    animation: jianyin 1s;
}

ul.dropdown-menu.winds-category-menu-item,
ul.dropdown-page.winds-category-page-item {
    display: none;
}

.nav ul li a {
    text-decoration: none;
    color: #eee;
    text-align: center;
    padding: 0 20px;
    /* font-weight: bold; */
}

.winds-search {
    padding: 0 20px;
    line-height: 50px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.wind-logo {
    display: flex;
    line-height: 50px;
    font-size: 25px;
    padding-right: 20px;
    font-weight: 900;
}

.main-title {
    position: absolute;
    font-size: 50px;
    color: #fff;
    text-shadow: 0px 0px 10px #000;
    text-align: center;
}

.dropdown-menu,
.dropdown-page {
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    flex-direction: column;
    padding: 0;
    align-items: center;
    border-radius: 0;
}

.winds-category-menu-item,
.winds-category-page-item {
    display: none;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    min-width: auto;
    border: 0;
}

ul.dropdown-menu.winds-category-page-item {
    display: none;
}


/* mobile-nav */

.winds-mb-menu-f {
    display: none;
}

.mobile-nav {
    line-height: 50px;
    height: 50px;
    float: left;
    padding: 0;
}

.wind-logo-mb {
    line-height: 50px;
    font-size: 25px;
    padding-right: 20px;
    font-weight: 900;
}

.wd-md-navspan {
    float: right;
    padding: 0 20px;
    line-height: 50px;
    height: 50px;
    cursor: pointer;
    width: 50px;
    /* position: absolute */
}

.mobile-menu {
    width: 100%;
    height: 100vh;
    /* margin: 0; */
    right: 0;
    /* padding: 0; */
    bottom: 0;
    left: 0;
    top: 50px;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    overflow-y: auto;
    display: none;
}

.mobile-menu a {
    color: #eee;
    text-align: center;
}

.wind-menu-hr {
    background-color: #eeeeee50;
}

.mobile-menu a:hover,
.mobile-menu-section a:hover {
    -webkit-animation: jianyin 1s;
    animation: jianyin 1s;
    background-color: #eee;
    color: #000;
}

.mobile-menu-title {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
    color: ;
}

.mobile-menu-section {
    display: flex;
}

.mobile-menu-section ul {
    list-style: none;
    padding: 0;
}

.pc-nav {
    display: flex;
}

.mobile-nav {
    display: none;
}

.categories {
    list-style: none;
    padding: 0;
    text-align: center;
    color: #eee;
}

@media (max-width:1000px) {
    .blur-nav,
    .blur-nav-bg {
        display: inherit;
        background: rgba(0, 0, 0, .7)!important;
    }
    .pc-nav {
        display: none;
    }
    .mobile-nav {
        display: block;
    }
}