/* 导航栏样式 */

.blur-nav {
    background: rgba(0, 0, 0, .5)!important;
    /* backdrop-filter: saturate(200%) blur(20px); */
    filter: blur(20px);
    -webkit-filter: blur(20px);
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 998;
    line-height: 50px;
    height: 50px;
    color: #fff;
}

.blur-nav-bg {
    background: rgba(0, 0, 0, .5)!important;
    /* backdrop-filter: saturate(200%) blur(20px); */
    /* filter: blur(20px);
    -webkit-filter: blur(20px); */
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 999;
    line-height: 50px;
    height: 50px;
    color: #fff;
}

.nav-bac {
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 9999;
    line-height: 50px;
    height: 50px;
    color: #fff;
}

.nav ul {
    list-style: none;
    display: flex;
    z-index: 999;
    padding: 0;
    margin: 0;
}

.nav ul li {
    display: flex;
    line-height: 50px;
}

.nav ul li:hover,
.winds-search:hover,
.nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: rgba(0, 0, 0, 0.7);
    animation: jianyin 1s;
}

.nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 0 20px;
}

.winds-search {
    padding: 0 20px;
    line-height: 50px;
    height: 50px;
}