/* 布局通用样式 */


/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: rgba(143, 143, 143, 0);
}


/*定义滚动条轨道 内阴影+圆角*/

::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
}


/*定义滑块 内阴影+圆角*/

::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0.7);
}


/* 选中文本颜色 */

::-moz-selection {
    background: #344449;
    color: #ffffff;
}

 ::selection {
    background: #344449;
    color: #ffffff;
}

* {
    /* border-radius: 0px!important;
    -webkit-border-radius: 0px!important;
    -moz-border-radius: 0px!important; */
}

body {
    font-family: sans-serif, "Open Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei", "WenQuanYi Micro Hei", "Segoe UI Emoji", "Segoe UI Symbol", Helvetica, Arial, -apple-system, system-ui;
    overflow-x: hidden;
    /* letter-spacing: 0.1rem!important; */
    /* background-color: #dff9fb; */
    background-color: #333;
    color: #333;
    overflow-y: scroll;
}

img {
    max-width: 100%;
}

code {
    padding: 2px 5px;
    background: #fff2f8;
    margin: 0 2px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

h1 {
    font-size: 1.6rem;
    font-weight: 900;
}

h2 {
    font-size: 1.5rem;
    font-weight: 900;
}
h2::after {
    content: '';
    width: 100px;
    border-radius: 5px;
    display: block;
    margin: -10px 0 0 0;
    /* top: -5px; */
    height: 15px;
    background: #ffc107a6;
}
h3 {
    font-size: 1.4rem;
    font-weight: 900;
}

h4 {
    font-size: 1.3rem;
    font-weight: 400;
}

h5 {
    font-size: 1.2rem;
    font-weight: 400;
}

h6 {
    font-size: 1.1rem;
    font-weight: 400;
}

p {
    font-size: 1rem;
    line-height: 1.8;
}

ul li {
    list-style-type: square;
  }

blockquote {
    padding: 0 15px;
    /* border-left:5px solid #009e4ecc;
    border-right:1px dashed #eee;
    border-top:1px dashed #eee;

    border-bottom:1px dashed #eee; */
    border: 1px dashed #009e4ecc;


    /* background: #fff; */
}
blockquote p{
    margin: 0!important;
    padding: 5px 0 ;
    color: #117a8b;
    font-style: italic;
}

div {
    display: block;
    padding: 0;
    margin: 0;
}

input:focus,
textarea:focus {
    outline: none!important;
    border: 0;
    border-bottom: 1px solid #f60;
}

.bg-blur {
    height: 50vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .2);
}

.bg-blur img {
    width: 100%;
    top: 0;
    left: 0;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    filter: blur(5px);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    background-color: #000;
}

.blur {
    /* background: rgba(255, 255, 255, .5)!important; */
    -webkit-backdrop-filter: saturate(200%) blur(20px);
    backdrop-filter: saturate(200%) blur(20px);
}

.wbg-white {
    padding: 20px;
    background: #fff;
    /* border-radius: .25rem; */
    box-shadow: 0 0 10px #00000026;
    -webkit-box-shadow: 0 0 10px #00000026;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.text-center {
    text-align: center!important;
}

@media (max-width:768px) {
    .bg-blur {
        height: 35vh;
    }
    .main-title {
        font-size: 25px;
        word-break: break-all;
        padding-bottom: 30px;
    }
}


/*bilibili*/

.bilibili {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 75%;
}

.bilibili iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}


/* @media (max-width:1100px) {
    .bg-blur img {
        height: 100%;
        width: auto;
    }
} */