/* 布局通用样式 */


/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: rgba(143, 143, 143, 0);
}


/*定义滚动条轨道 内阴影+圆角*/

::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
}


/*定义滑块 内阴影+圆角*/

::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0.7);
}


/* 选中文本颜色 */

::-moz-selection {
    background: #344449;
    color: #ffffff;
}

 ::selection {
    background: #344449;
    color: #ffffff;
}

* {
    /* border-radius: 0px!important;
    -webkit-border-radius: 0px!important;
    -moz-border-radius: 0px!important; */
}

body {
    font-family: "Open Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei", "WenQuanYi Micro Hei", "Segoe UI Emoji", "Segoe UI Symbol", Helvetica, Arial, -apple-system, system-ui, sans-serif;
    overflow-x: hidden;
    letter-spacing: .5px!important;
    background-color: #dff9fb;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

h1 {
    font-size: 1.6rem;
    font-weight: 900;
}

h2 {
    font-size: 1.5rem;
    font-weight: 900;
}

h3 {
    font-size: 1.4rem;
    font-weight: 900;
}

h4 {
    font-size: 1.3rem;
    font-weight: 400;
}

h5 {
    font-size: 1.2rem;
    font-weight: 400;
}

h6 {
    font-size: 1.1rem;
    font-weight: 400;
}

p {
    font-size: 1rem;
    line-height: 1.75;
}

blockquote {
    margin: 0 0 1rem;
    border-left: 5px solid #009e4ecc;
    padding: 0 10px;
    background: #eee;
    font-style: italic;
}

div {
    display: block;
    padding: 0;
    margin: 0;
}

.bg-blur {
    height: 50vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-blur img {
    width: 100%;
    top: 0;
    left: 0;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    filter: blur(5px);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.blur {
    /* background: rgba(255, 255, 255, .5)!important; */
    -webkit-backdrop-filter: saturate(200%) blur(20px);
    backdrop-filter: saturate(200%) blur(20px);
}

.wbg-white {
    padding: 20px;
    background: #fff;
}