/* 布局通用样式 */


/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: rgba(143, 143, 143, 0);
}


/*定义滚动条轨道 内阴影+圆角*/

::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
}


/*定义滑块 内阴影+圆角*/

::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0.7);
}


/* 选中文本颜色 */

::-moz-selection {
    background: #344449;
    color: #ffffff;
}

 ::selection {
    background: #344449;
    color: #ffffff;
}

* {
    border-radius: 0px!important;
    -webkit-border-radius: 0px!important;
    -moz-border-radius: 0px!important;
}

body {
    font-family: Roboto, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
    overflow-x: hidden;
    letter-spacing: .5px!important;
    background-color: #dff9fb;
    /* 
    background-image: linear-gradient( 0deg, transparent 24%, rgba(201, 195, 195, 0.329) 25%, rgba(209, 201, 201, 0.05) 26%, transparent 27%, transparent 74%, rgba(209, 204, 204, 0.185) 75%, rgba(180, 176, 176, 0.05) 76%, transparent 77%, transparent), linear-gradient( 90deg, transparent 24%, rgba(204, 196, 196, 0.226) 25%, rgba(172, 165, 165, 0.05) 26%, transparent 27%, transparent 74%, rgba(209, 204, 204, 0.185) 75%, rgba(180, 176, 176, 0.05) 76%, transparent 77%, transparent);
    background-size: 30px 30px; */
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

h1 {
    font-size: 28px;
    font-weight: 900;
}

h2 {
    font-size: 26px;
    font-weight: 900;
}

h3 {
    font-size: 24px;
    font-weight: 900;
}

h4 {
    font-size: 22px;
    font-weight: 400;
}

h5 {
    font-size: 20px;
    font-weight: 400;
}

h6 {
    font-size: 17px;
    font-weight: 400;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

blockquote {
    margin: 0 0 1rem;
    border-left: 5px solid #009e4ecc;
    padding: 0 10px;
    background: #eee;
    font-style: italic;
}

div {
    display: block;
    padding: 0;
    margin: 0;
}

.bg-blur {
    height: 50vh;
    overflow: hidden;
}

.bg-blur img {
    width: 100%;
    top: 0;
    left: 0;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    filter: blur(5px);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.blur {
    /* background: rgba(255, 255, 255, .5)!important; */
    backdrop-filter: saturate(200%) blur(20px);
}

.wbg-white {
    padding: 20px;
    background: #fff;
}