.post img {
    width: 100%;
    margin: 10px auto;
}

.post .post-title {
    /* text-align: center; */
}

.post .post-head {
    margin-bottom: 30px;
}

.post-content {
    /* margin-top: 30px; */
    word-break: break-all;
    padding-bottom: 10px;
}

#comments {
    margin-top: 50px;
}

.post-wnear {
    margin: 50px 0;
}

.hljs-ln td {
    padding: 3px!important;
}

.post-near-pre {
    text-align: left;
}

.post-near-next {
    text-align: right;
}

.table {
    font-size: .8rem!important;
}

.tags a {
    border: 1px solid #eee;
    padding: 5px;
    /* animation: jianyin 1s; */
    font-size: 12px;
}

.tags a:hover {
    background-color: crimson;
    color: #fff;
    -webkit-animation: jianyin 1s;
    animation: jianyin 1s;
}

.comment-meta time {
    font-size: 12px;
    /* font-weight: 100; */
    color: rgb(109, 109, 109);
}

cite {
    font-style: normal;
}

.comment-reply a {
    font-size: 12px;
}

.main-posts-content {
    padding: 0 5px;
}

.post dl,
.post figure,
.post form,
.post hr,
.post ol,
.post p,
.post pre,
.post table,
.post ul {
    margin: 0 0 1.2em 0;
}

#post-content h2::before {
    content: "";
    width: 100%;
    border-bottom: 1px solid #eee;
    bottom: -7px;
    position: absolute;
}

#post-content h2::before {
    content: "";
    width: 100%;
    border-bottom: 1px solid #eee;
    bottom: -7px;
    position: absolute;
}

:after,
 :before {
    box-sizing: border-box;
}

#post-content h2::after {
    transition: all .35s;
    content: "";
    position: absolute;
    background: linear-gradient(#3c67bd8c 30%, #3c67bd 70%);
    width: 1em;
    left: 0;
    box-shadow: 0 3px 3px rgba(32, 160, 255, .4);
    height: 3px;
    bottom: -8px;
}

#post-content h2::after {
    transition: all .35s;
    content: "";
    position: absolute;
    background: linear-gradient(#3c67bd8c 30%, #3c67bd 70%);
    width: 1em;
    left: 0;
    box-shadow: 0 3px 3px rgba(32, 160, 255, .4);
    height: 3px;
    bottom: -8px;
}