/* .post-meta {
    padding: 10px;
    font-size: 12px;
}

.post-meta span {
    text-align: center;
    padding: 10px;
} */

.post img {
    width: 100%;
}

.post .post-title {
    text-align: center;
}

.post-content {
    margin-top: 30px;
}

#comments {
    margin-top: 50px;
}

.post-wnear {
    margin: 50px 0;
}

.hljs-ln td {
    padding: 3px!important;
}

.post-near-pre {
    text-align: left;
}

.post-near-next {
    text-align: right;
}

.table {
    font-size: 12px!important;
}

.tags a {
    border: 1px solid #eee;
    padding: 5px;
    /* animation: jianyin 1s; */
    font-size: 12px;
}

.tags a:hover {
    background-color: crimson;
    color: #fff;
    animation: jianyin 1s;
}