/* 侧边栏样式 */

.sidebar {
    position: relative;
}

.profile {
    /* height: 500px; */
    /* border: 3px solid #eee; */
    margin-top: 50px;
    position: fixed;
    top: 150px;
    width: 100%;
    max-width: 350px;
    background-color: #fff;
}

.wavatar {
    width: 100%;
}

.social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin: 0 0 20px; */
}

.social-item {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #eee;
    font-size: 20px;
    border-radius: 50%!important;
    margin: 20px auto;
}

.social-item:hover {
    background: #000;
    color: #fff!important;
    animation: jianyin 1s;
}

.social-item a:hover {
    background: #000;
    color: #fff!important;
    animation: jianyin 1s;
    border-radius: 50%!important;
}

.social-item a {
    display: block;
    text-decoration: none;
    overflow: visible;
}

@media (max-width:1000px) {
    .sidebar {
        display: none;
    }
}