/* 内容区域样式 */

.main {
    margin-top: 100px;
    min-height: 100vh;
}

.slide {
    margin-bottom: 50px;
}

.posts {
    display: block;
    margin-bottom: 50px;
    background-color: #fff;
    width: 100%;
    opacity: 1;
    box-shadow: 0 0 10px #00000026;
    -webkit-box-shadow: 0 0 10px #00000026;
}

.card-show {
    transition: all .6s ease
}

.card-show:hover {
    transform: translateY(-6px);
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
}

.thumb-img {
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-height: 300px;
}

.lazy-img {
    width: 100%;
}

.posts-winds .post-title {
    padding: 20px;
    margin: 0;
}

.posts-winds .post-content {
    padding: 0 20px 20px 20px;
    font-size: 14px;
    color: #555;
}

.post-meta {
    text-align: right;
    font-size: 10px;
    padding: 10px;
    margin: 5px;
    border-bottom: 1px solid #eee;
}

.post-meta span {
    text-align: center;
    padding: 5px 10px;
    margin: 5px;
}

.post-meta span a {
    color: #fff;
}


/* 分页 */

li.page-item {
    padding: 5px;
    transition: all .6s ease
}

li.page-item:hover {
    transform: translateY(-6px);
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
}

li.page-item a {
    border: 0;
}

@media (max-width:768px) {
    .thumb-img {
        min-height: 200px;
    }
}

@media (max-width:576px) {
    .thumb-img {
        min-height: 150px;
    }
}


/* comments */

.comment-list {
    list-style: none;
    padding-left: 0;
}

.comment-list li {
    border: 2px solid #eee;
    margin: 5px;
    padding: 5px;
}