/* 内容区域样式 */

.main {
    margin-top: -10vh;
    min-height: 60vh;
}

.slide {
    margin-bottom: 50px;
}

.posts {
    display: block;
    margin-bottom: 20px;
    background-color: #fff;
    width: 100%;
    opacity: 1;
    box-shadow: 0 0 10px #00000026;
    -webkit-box-shadow: 0 0 10px #00000026;
    /* border-radius: .25rem; */
}

.card-show {
    transition: all .6s ease
}

.card-show:hover {
    transform: translateY(-6px);
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
}

.thumb-img {
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    max-height: 300px;
    /* border-radius: .25rem .25rem 0 0; */
}

.lazy-img {
    width: 100%;
}

.posts-winds .post-title {
    /* padding: 10px 20px; */
    padding-bottom: 10px;
    margin: 0;
}

.posts-winds .post-content {
    font-size: 14px;
    color: #555;
}

.post-meta {
    /* text-align: right; */
    font-size: 10px;
    /* padding: 10px 20px 0px; */
    color: #848484
}

.post-meta span {
    text-align: center;
    padding-right: 5px;
}

.post-meta span a {
    color: #848484
}


/* 分页 */

li.page-item {
    padding: 5px;
    transition: all .6s ease
}

li.page-item:hover {
    transform: translateY(-6px);
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
}

li.page-item a {
    border: 0;
    box-shadow: 0 0 10px #00000026;
    -webkit-box-shadow: 0 0 10px #00000026;
}

@media (max-width:768px) {
    .thumb-img {
        min-height: 200px;
    }
}

@media (max-width:576px) {
    .thumb-img {
        min-height: 150px;
    }
}


/* comments */

.comment-list {
    list-style: none;
    padding-left: 0;
}

.comment-list li {
    /* border: 2px solid #eee; */
    margin: 5px;
    /* padding: 5px; */
}
.comment-child{
    background: #eee;
    padding: 10px;
}
.comment-author .avatar{
    border-radius: 50%!important;
}

#wind-comment-group textarea {
    border: 0;
    border-bottom: 1px solid #eee;
    border-radius: 0;
    height: 100px;
}
.winds-submit{
    float: right;
    position: relative;
    /* bottom: 0; */
    top: -28px;
}
div#comments-all {
    margin-top: 30px;
    border-top: 2px solid #eee;
}
input.wind-comment-input.input-group {
    border: 0;
    border-bottom: 1px solid #eee;
    border-radius: 0;
    height: 100px;
}

input.wind-comment-input.input-group:focus,
.wind-comment-inputextarea:focus {
    outline: none!important;
    border: 0;
    border-bottom: 1px solid #f60;
}

.wind-comment-inputextarea {
    outline: none!important;
    width: 100%;
    resize: none;
}

.wind-comment-inputext {
    border: 0;
    border-bottom: 1px solid #eee;
    padding: 10px;
    width: 100%;
}

.wind-comment-input .input-group {
    /* padding: 0; */
}

.wind-comment-input {
    margin: 10px auto;
}