body {
    /* background: url(https://cn01.img.twinkle222.cn/imgs/2020/03/f735a00354a3c282.jpg); */
    background-color: #ebf1f5 !important;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: Roboto, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
    overflow-x: hidden;
    letter-spacing: .5px!important;
}

.main {
    margin-top: 100px;
}

.posts {
    height: 300px;
    margin: 50px 0;
    background-color: rgb(255, 255, 255);
}

.profile {
    height: 500px;
    border: 3px solid #eee;
    /* position: fixed; */
    /* max-width: 400px;
    min-width: 400px; */
    /* top: 150px; */
    margin-top: 50px;
}